{% extends "layout.html" %}
{% block content %}

<body>


    <h1 align="center"> Registration Page</h1>
    </br>
    </br>

    <form action="" method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5" align="right">
                    <label>First Name</label>
                </div>
                <div class="col-sm-5">
                   <input type="text" name="firstname" class="form-control" placeholder="firstname" required>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-5" align="right">
                    <label>Last Name</label>
                </div>
                <div class="col-sm-5">
                   <input type="text" name="lastname" class="form-control" placeholder="last name" required>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-5" align="right">
                    <label>Address</label>
                </div>
                <div class="col-sm-5">
                   <input type="text" name="address" class="form-control" placeholder="address" required>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-5" align="right">
                    <label>Email</label>
                </div>
                <div class="col-sm-5">
                   <input type="email" name="email" class="form-control" placeholder="email" required>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-5" align="right">
                    <label>Password</label>
                </div>
                <div class="col-sm-5">
                   <input type="password" name="password" class="form-control" placeholder="password" required>
                </div>
            </div>
            <br/>

            <br/>
            <div class="row">
                <div class="col-sm-5" align="right">

                </div>
                <div class="col-sm-5">
                   <button class="btn btn-primary" type="submit"> Submit </button>
                </div>
            </div>
            <br/>

        </div>
    </form>
</div>
</body>

{% endblock %}